{% extends 'base.html' %}
{% load static %}
{% block title %}
О нас
{% endblock %}

{% block content %}
    <h2>О нас</h2>
    <p>Мы - команда профессиональных преподавателей и разработчиков, предоставляющих лучшие курсы по IT-направлениям.</p>
    <p>Наша миссия - помочь нашим студентам достичь своих целей и реализовать свой потенциал в сфере информационных технологий.</p>
    <p>Мы гарантируем высокое качество обучения, индивидуальный подход к каждому студенту и дружескую атмосферу на занятиях.</p>
{% endblock %}
  