{% extends 'homepage.html' %}
{% load static %}
{% block content %}
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>Contact Us</h1>
			
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Contact Page Section -->
	<section class="contact-page-section">
		<div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: 'url({% static 'images/icons/icon-1.png' %})'"></div>
		<div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: 'url({% static 'images/icons/icon-2.png' %})"></div>
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<h2>Get in touch</h2>
				</div>
				
				<!-- Contact Form -->
				<div class="contact-form">
				
					<!-- Profile Form -->
					<form method="post" action="sendemail.php" id="contact-form">
						{% csrf_token %}
						{{ form.as_p }}
					</form>

						<!-- <div class="row clearfix">
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="username" placeholder="First Name*" required="">
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="lastname" placeholder="Last Name*" required="">
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="email" name="email" placeholder="Email Address*" required="">
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="phone" placeholder="Phone Number*" required="">
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<textarea class="" name="message" placeholder="Send Message"></textarea>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group text-right">
								<button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Send Message <i class="fa fa-angle-right"></i></span></button>
							</div>
							
						</div>
					</form> -->
						
				</div>
				
			</div>
			
			<!-- Contact Info Section -->
			<div class="contact-info-section">
				<div class="title-box">
					<h2>Contact Information</h2>
					<div class="text">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</div>
				</div>
				
				<div class="row clearfix">
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-phone"></div>
							<strong>Phone</strong>
							<ul>
								<li><a href="tel:+1-123-456-7890">+1 (123) 456-7890</a></li>
								<li><a href="tel:+1-123-456-7890">+1 (123) 456-7890</a></li>
							</ul>
						</div>
					</div>
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-envelope-o"></div>
							<strong>Email</strong>
							<ul>
								<li><a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
								<li><a href="mailto:infobootcamp@gmail.com">infobootcamp@gmail.com</a></li>
							</ul>
						</div>
					</div>
					
					<!-- Info Column -->
					<div class="info-column col-lg-4 col-md-6 col-sm-12">
						<div class="info-inner">
							<div class="icon fa fa-map-marker"></div>
							<strong>Address</strong>
							<ul>
								<li>г. Бишкек, ул. Ибраимова, 103, Бизнес-центр Victory, правое крыло, 4-этаж <br>г. Бишкек, 9 мкр. ЖК “Тумар”, Суеркулова, 10Б, цокольный этаж<br>г. Кара-Балта, ул. Кожомбердиева 112

									<br>г. Ош, ул. Мырзалы Аматова, 1Б стр, БЦ “Томирис”</li>
							</ul>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Contact Page Section -->
	
	<!-- Map Section -->
	<section class="map-section">
		<!-- Map Boxed -->
		<div class="map-boxed">
			<!--Map Outer-->
			<div class="map-outer">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d805184.6331292129!2d144.49266890254142!3d-37.97123689954809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2s!4v1574408946759!5m2!1sen!2s" allowfullscreen=""></iframe>
			</div>
		</div>
	</section>
	<!-- End Map Section -->
	
	<!-- Call To Action Section Two -->
	<section class="call-to-action-section-two" style="background-image: 'url({% static 'images/background/3.png' %})'">
		<div class="auto-container">
			<div class="content">
				<h2>Ready to get started?</h2>
				<div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two <br> waters own morning gathered greater shall had behold had seed.</div>
				<div class="buttons-box">
					<a href="course.html" class="theme-btn btn-style-one"><span class="txt">Get Stared <i class="fa fa-angle-right"></i></span></a>
					<a href="course.html" class="theme-btn btn-style-two"><span class="txt">All Courses <i class="fa fa-angle-right"></i></span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section Two -->
{% endblock %}