{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
    <h2>Контакты</h2>
    <p>Вы можете связаться с нами любым удобным для вас способом:</p>
    <ul>
      <li>Телефон: +996 507 05 20 18</li>
      <li>Адрес: г. Ош, ул. Мырзалы Аматова, 1Б стр, БЦ “Томирис”</li>
    </ul>
    <p>Вы также можете следить за нами в социальных сетях:</p>
    <ul class="social-links">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
{% endblock %}
  