{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{setting.title}} | {{setting.descriptions}}</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css '%}" rel="stylesheet">
<link href="{% static 'css/main.css '%}" rel="stylesheet">
<link href="{% static 'css/responsive.css '%}" rel="stylesheet">

<link rel="shortcut icon" href="{{setting.logo.url}}" type="image/x-icon">
<link rel="icon" href="{{setting.logo.url}}" type="image/x-icon">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Titillium+Web:wght@300;400;600;700;900&display=swap" rel="stylesheet">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js' %}"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
<!-- Main Header-->
<header class="main-header header-style-one">
	<!-- Header Top -->
	<div class="header-top">
		<div class="auto-container">
			<div class="clearfix">
				<!-- Top Left -->
				<div class="top-left pull-left clearfix">
					<!-- Info List -->
					<ul class="info-list">
						<li><span>Контакты: </span><a href="tel:{{setting.phone}} "> {{setting.phone}} </a></li>
					</ul>
				</div>
				<!-- Top Right -->
				<div class="top-right pull-right clearfix">
				</div>
			</div>
		</div>
	</div>
	<!-- Header Upper -->
	<div class="header-upper">
		<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left logo-box">
					<div class="logo">
						<a href=" {% url 'index' %} "><img src="{{setting.logo.url}}" width="150" alt="" title="GEEKS"></a>
					</div>
				</div>
				<div class="nav-outer clearfix">
					<!--Mobile Navigation Toggler-->
					<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
					<!-- Main Menu -->
					<nav class="main-menu show navbar-expand-md">
						<div class="navbar-header">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						</div>
						<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">

								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- End Header Upper -->
	<!-- Mobile Menu  -->
	<div class="mobile-menu">
		<div class="menu-backdrop"></div>
		<div class="close-btn"><span class="icon flaticon-multiply"></span></div>
		<nav class="menu-box">
			<div class="nav-logo">
				<a href="index.html"><img src="{% static 'images/logo-5.png' %}" alt="" title=""></a>
			</div>
			<div class="menu-outer">
				<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
			</div>
		</nav>
	</div>
	<!-- End Mobile Menu -->
</header>
<!-- End Main Header -->
    {% block content %}

    {% endblock %}

<!--End pagewrapper-->
<!--Main Footer-->
<footer class="main-footer">
	<!-- Pattern Layer -->
	<div class="pattern-layer paroller" data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image:url({% static 'images/icons/icon-1.png' %})"></div>
	<div class="pattern-layer-two data-paroller-factor=" 0.60 " data-paroller-factor-lg="0.20 " data-paroller-type="foreground " data-paroller-direction="vertical " style="background-image:url({% static 'images/icons/icon-3.png' %}) "></div>
		<div class="auto-container ">
		
        	<!-- Widgets Section -->
            <div class="widgets-section ">
            	<div class="row clearfix ">
                	
                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12 ">
                        <div class="row clearfix ">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12 ">
                                <div class="footer-widget logo-widget ">
									<div class="logo ">
                                    	<a href="{% url 'index' %}"><img src="{% static 'logo/logo.png' %}" alt=" " /></a>
                                    </div>
									<div class="text ">GEEKS - КУРСЫ ПРОГРАММИРОВАНИЯ
                                        В КЫРГЫЗСТАНЕ</div>
									<div class="copyright ">Copyright &copy; 2023 Backend 05-01</div>
								</div>
							</div>
							
							
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12 ">
                        <div class="row clearfix ">

							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12 ">
                                <div class="footer-widget links-widget ">
									<h4>Подробнее</h4>
									<ul class="links-widget ">
										<li><a href="# ">Home</a></li>
										<li><a href="{% url 'contact' %} ">Contact</a></li>
									</ul>
								</div>
							</div>
						
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</footer>
	


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/element-in-view.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<!--Master Slider-->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>