{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
    <h1>Главная страница</h1>

    <header>
      <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="{% url 'about' %}">О нас</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
      </nav>
    </header>


      <main>
      <section>
        <h1>Добро пожаловать на наш сайт IT курсов</h1>
        <p>Мы предлагаем широкий выбор курсов по программированию, веб-разработке, аналитике данных и многому другому.</p>

      </section>

      <section>
        <h2>Популярные курсы</h2>
        <ul>
          <li>
            <a href="#">
              <img src="path/to/course-image.jpg" alt="Изображение курса">
              <h3>Название курса</h3>
              <p>Краткое описание курса</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="path/to/course-image.jpg" alt="Изображение курса">
              <h3>Название курса</h3>
              <p>Краткое описание курса</p>
            </a>
          </li>
        </ul>
      </section>
    </main>

    <br>
<section>
  <div class="row row-cols-lg-1"></div>
  {% for course in courses %}

  <div class="col row-cols-2">
    <div class="card w-25 h-50">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporing text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-dark">Go somewhere</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  {% endfor %}
</div>
</section>
<br>
    <a href="{% url 'about' %}">О нас</a>
    <a href="{% url 'contacts' %}">Контакты</a>
{% endblock %}
