<!DOCTYPE html>
<html>
  <head>
    <title>IT курсы</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="{% url 'about' %}">О нас</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
      </nav>
    </header>

    <!-- <main>
      <section>
        <h1>Добро пожаловать на наш сайт IT курсов</h1>
        <p>Мы предлагаем широкий выбор курсов по программированию, веб-разработке, аналитике данных и многому другому.</p>
        <a href="#">Начать обучение</a>
      </section>

      <section>
        <h2>Популярные курсы</h2>
        <ul>
          <li>
            <a href="#">
              <img src="path/to/course-image.jpg" alt="Изображение курса">
              <h3>Название курса</h3>
              <p>Краткое описание курса</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="path/to/course-image.jpg" alt="Изображение курса">
              <h3>Название курса</h3>
              <p>Краткое описание курса</p>
            </a>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 IT курсы</p>
    </footer>-->
  </body> 
</html>
